/*	all pages*/
	body 
	{
		font-family: 'Bernard MT', Arial, sans-serif;
		color:#136D37;
	}

	footer
	{
		margin-top:20px;
	}

	.hidden 
	{
		display: none;
	}

	.selected
	{
		color:#29402C;
		text-decoration:underline;
	}

	#container
	{
		margin:0 auto;
		width:411px;
	}


	#header 
	{
		margin-bottom:30px;
		display:flex;
		flex-direction: column;
		width:100%;
		border-bottom:5px solid #293F2B;
	}

	#headerLogoM{
		height:105.72px;
		width:184.96px;
		margin:0 auto;
		margin-top:15px;

	}

	#mainNav
	{
		margin-top:20px;
		margin-left:20px;
		font-size:25px;
		width:100%;
	}

	#mainNav ul
	{
		display:flex;
		flex-direction:column;
		text-align:center;
	}

	#mainNav ul li a {
		display: block;
		margin-right: 24px;
		color:#136D37;
		text-decoration:none;
		margin-bottom:6px;
	}

	#bar1, #bar2, #bar3, #bar4, #bar5
	{
		height:5px;
		width:100%;
	}

	#bar3, #bar4
	{
		background-color: #29402C;
	}

		#bar1
	{
		background-color: #136D37;
	}

	#bar2
	{
		background-color: #F61712;
	}



	#footerTop 
	{
		display:flex;
		flex-direction: row;

	}

	#instabot, #twitterbot
	{
		margin-right:20px;
	}

	#footMedia{
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:25px;
	}


	#crestLogoBotM 
	{
		margin-bottom:20px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}



/*advertisements page*/
	#mobileAd{
		display:flex;
		flex-direction:column;
		text-align:center;
	}

	#mobileAd p{
		font-size:22px;
		margin-bottom:10px;
	}

	#ad1M,#ad2M,#ad3M,#ad4M,#ad5M{
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:25px;
	}


/*index page*/

	#heroM
	{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	#readButton
	{
		color:#136D37;
		text-decoration:none;
		font-size:16px;
		border:solid 3px #293F2B;
		border-radius: 6px;
		padding-left:12px;
		padding-right:12px;
		padding-top:6px;
		padding-bottom:6px;
	}

	#button
	{
		margin-top:-60px;
		margin-bottom:44px;
		margin-left:225px;
	}

	#secondPromoM{
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-top:-10px;
		margin-bottom:-9px;
	}

	#thirdPromoM{
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-top:-10px;
		margin-bottom:-8px;
	}

	video{
		width:100%;
		margin-top:-8.5px;
		margin-bottom:5px;
	}

	/*	about page*/

	#aboutImgM{
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:30px;
	}

	#about
	{
		margin-top:50px;
		display:flex;
		flex-direction: column;
		margin-bottom:50px;
	}

	#about p
	{
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:80%;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:20px;
		line-height:30px;
	}




		/*contact us page*/

	form
	{
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:80%;
		margin-top:60px;
		margin-bottom:35px;
	}

	#Form input {
		display:block;
		margin-left:auto;
		margin-right:auto;
		border: 3px solid #29402C;
		color: #136D37;
		width: 80%;
		padding:3px 3px 3px 3px;
		font-size:20px;
	}

	#Form textarea {
		display:block;
		margin-left:auto;
		margin-right:auto;
		border: 3px solid #29402C;
		color: #136D37;
		width: 80%;
		padding:3px 3px 3px 3px;
		font-size:20px;
	}

	#name, #email, #messages
	{
		margin-bottom:20px;
	}

	#subButton
	{
		display:block;
		margin-left:auto;
		margin-right:auto;
		color:#29402C;
		text-decoration:none;
		font-size:20px;
		border:solid 3px #C82C30;
		margin-bottom:70px;
		padding-left:125px;
		font-family: Arial,'Bernard MT',  sans-serif;
	}

	#submitButton
	{
		width:80%;
		margin-bottom:40px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	#contactCopyHead {
		font-family: 'Bernard MT', Arial, sans-serif;
		font-size:30px;
		width:80%;
		text-align:center;
		line-height:40px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
		margin-top:50px;

	}

	#contactCopySection p{
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:20px;
		width:80%;
		text-align:center;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}




	/*submit page*/
	#submitContainer
	{
		width:100%;
		margin:0 auto;
		background-color:#317840;
		height:800px;
	}

	#submitContainer h1
	{
		color: white;
		text-align:center;
		font-size:30px;
		animation: 4s ease-in 1s infinite reverse both running slidein;
	}

	@keyframes slidein {
  	from {
    margin-top: 100px;
  }

  75%{
  	font-size:40px;
  }

  to {
    margin-top: 120px;
  }
}

	#goBack
	{
		padding-top:50px;
	}

	#backButton
	{
		font-size:26px;
		font-family: 'Bernard MT',Arial,  sans-serif;
		margin-top:50px;
		display:block;
		margin-left:40%;
		margin-right:auto;
	}

	#bButton
	{
		border:solid 5px #29402C;
		background-color:white;
		text-decoration:none;
		padding:10px;
		color:#29402C;
	}






		/*products page*/

	#sixPack
	{
		margin-top:50px;
		display:flex;
		flex-direction: column;
		margin-bottom:50px;
	}

	#sixImgM{
		width:247px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}


	.sixP
	{
		margin-top:50px;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:20px;
		line-height:25px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
	}

	#singlePack
	{
		margin-top:50px;
		display:flex;
		flex-direction: column;
		margin-bottom:50px;
	}

	#singleImgM{
		position: -1;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.singleP
	{
		margin-top:50px;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:20px;
		line-height:25px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
	}

	#bar5
	{
		background-color: #136D37;
	}

	#singleInfo, #sixInfo{
		display:flex;
		flex-direction: column;
	}

	.productButton1
	{
		margin-top:40px;
		margin-left:33%;
		margin-bottom:30px;
	}

	.ProductButton1{
		color:#136D37;
		text-decoration:none;
		font-size:20px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
	}

	.ProductButton1:hover
	{
		font-size:25px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:25px;
		padding-right:25px;
		padding-top:15px;
		padding-bottom:15px;
		margin-left:-5%;
		transition:.5s ease-in-out;
	}

	.productButton2
	{
		margin-top:40px;
		margin-left:33%;
		margin-bottom:80px;
	}

	.ProductButton2{
		color:#136D37;
		text-decoration:none;
		font-size:20px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
	}

	.ProductButton2:hover
	{
		font-size:25px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:25px;
		padding-right:25px;
		padding-top:15px;
		padding-bottom:15px;
		margin-left:-5%;
		transition:.5s ease-in-out;
	}

	.RMText1
	{
		margin-top:-40px;
		margin-left:-120px;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:20px;
		line-height:25px;
		text-align: center;
	}

	.RMText2
	{
		margin-top:-40px;
		margin-left:-120px;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:20px;
		line-height:25px;
		text-align: center;
	}

	#twoFor1
	{
		font-family: 'Bernard MT', Arial, sans-serif;
		color:#29402C;
		font-size:30px;
		width:100%;
		text-align: center;
		line-height:40px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:30px;
		margin-top:30px;
	}

	.productButton3
	{
		margin-top:20px;
	}

	.ProductButton3
	{
		color:#136D37;
		text-decoration:none;
		font-size:20px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
	}

	.ProductButton3:hover
	{
		font-size:25px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:25px;
		padding-right:25px;
		padding-top:15px;
		padding-bottom:15px;
		transition:.5s ease-in-out;
	}

	.RMText3
	{
		color:#136D37;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:25px;
		line-height:33px;
	}











@media screen and (min-width: 900px)
{
		body 
	{
		font-family: 'Bernard MT', Arial, sans-serif;
		color:#136D37;
	}

	footer
	{
		margin-top:-9px;
	}

	.hidden 
	{
		display: none;
	}

	.selected
	{
		color:#29402C;
		text-decoration:underline;
	}

	#container
	{
		width:920px;
		margin:0 auto;
	}

	#header 
	{
		display:flex;
		flex-direction: row;
		width:921px;
		margin-bottom:0px;
		border-bottom:none;
	}

	#headerLogo
	{
		display:unset;
		height:124.61px;
		width:218px;
		margin-top:15px;
	}

	#headerLogoM{
		display:none;

	}

	#mainNav
	{
		margin-top:110px;
		margin-left:20px;
		font-size:25px;
		width:900px;
		margin-bottom:-30px;
	}

	#mainNav ul
	{
		display:flex;
		flex-direction: row;
		text-align:unset;
	}

	#mainNav ul li a {
		display: block;
		margin-right: 35px;
		color:#136D37;
		text-decoration:none;
	}


	#mainNav ul li a:hover,#footerNav ul li a:hover, #selected:hover, #top:hover {
		color:#F61712;
	}

	#socialMediaTop
	{
		height:63px;
		width:192px;
		margin-top:5px;
		margin-left:-300px;
		display:unset;
	}
	#insta, #twitter 
	{
		margin-right:10px;
	}

	#bar1, #bar2, #bar3,#bar4, #bar5
	{
		height:15px;
		width:920px;
	}

	#bar4{
		margin-top:-1.1px;
		margin-bottom:-1px;
	}

	#footerTop 
	{
		display:flex;
		flex-direction: row;
	}


	#connect
	{
		font-size:29px;
		margin-right:30px;
		margin-top:10px;
		display:unset;

	}

	#footMedia{
		display:unset;
		margin-left:unset;
		margin-right:unset;
		margin-bottom:unset;
	}

	#instabot, #twitterbot
	{
		margin-right:20px;
	}

	#top
	{
		margin-left:auto;
		font-size:29px;
		color:#136D37;
		text-decoration:none;
		margin-top:10px;
		display:unset;
	}

	#footerNav
	{
		display:block;
		margin-left:148.5px;
		margin-top:35px;
		font-size:25px;
		width:900px;
	}

	#footerNav ul
	{
		display:flex;
	}

	#footerNav ul li a {
		display: block;
		margin-right: 24px;
		color:#136D37;
		text-decoration:none;
		border-right:solid 3px #136D37;
		padding-right:24px;
	}

	#contactBot
	{
		border-right:solid 0px #136D37;
	}

	#crestLogoBot 
	{
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-top:35px;
		margin-bottom:25px;
		height:120px;
		width:223px;
	}

	#crestLogoBotM 
	{
		display:none;
	}


	#desktopAd
	{
		display:unset;
	}

	#desktopAd p{
		font-size:25px;
		margin-bottom:10px;
	}

	#row1
	{
		margin-top:50px;
		display:flex;
		flex-direction: row;
	}

	#adS1, #adS2, #adS3, #adS4, #adS5{
		display:flex;
		flex-direction: column;
		text-align:center;
		line-height: 30px;
	}

	#adS1 p, #adS2 p, #adS3 p, #adS4 p, #adS5 p{
		margin-top:30px;
	}

	#adS1 p{
		margin-top:38px;
	}

	#adS5 {
		margin-bottom:50px;
	}


	#row2
	{
		margin-top:50px;
		display:flex;
		flex-direction: row;
	}

	#ad2, #ad4,
	{
		margin-left:auto;
	}

	#ad5
	{
		margin-top:50px;
		margin-left:230px;
	}

	#mobileAd{
		display:none;
	}

	/*	home page*/

	#hero
	{
		display:unset;
		margin:0;
	}

	#heroM
	{
		display:none;
	}

	#button
	{
		margin-top:-150px;
		margin-bottom:125px;
		margin-left:595px;
	}

	#readButton
	{
		color:#136D37;
		text-decoration:none;
		font-size:22px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
	}

	#readButton:hover
	{
		font-size:30px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:30px;
		padding-right:30px;
		padding-top:15px;
		padding-bottom:15px;
		transition:.5s ease-in-out;
	}

	#bar1
	{
		background-color: #136D37;
		margin-bottom:0;
	}

	#bar2
	{
		margin-top:-1.5px;
		background-color: #F61712;
		margin-bottom:0;
	}

	#bar3
	{
		margin-bottom:20px;
	}

	#secondPromo
	{
		margin-top:-2px;
		margin-bottom:0px;
		display:unset;
	}

	#secondPromoM{
		display:none;
	}

	#thirdPromo
	{
		margin-top:-1px;
		display:unset;
	}

	#thirdPromoM{
		display:none;
	}

	video{
		width:921px;
		margin-top:0px;
		margin-bottom:10px;
	}

	/*	about page*/

	#about
	{
		margin-top:50px;
		display:flex;
		flex-direction: row;
		margin-bottom:50px;
	}

	#about p
	{
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:21px;
		line-height:25px;
		width:100%;
		display:unset;
		margin-left:5px;
	}

	#aboutImg{
		display:unset;
	}

	#aboutImgM{
		display:none;
	}




	/*contact us page*/

	form
	{
		margin-left:54px;
		width:812px;
		margin-top:60px;
		margin-bottom:35px;
	}

	#Form input {
		border: 5px solid #29402C;
		color: #136D37;
		width: 812px;
		padding:5px 5px 5px 5px;
		font-size:36px;
	}

	#Form textarea {
		border: 5px solid #29402C;
		color: #136D37;
		width: 812px;
		padding:5px 5px 5px 5px;
		font-size:36px;
	}

	#name, #email, #messages
	{
		margin-bottom:25px;
	}

	#subButton
	{
		color:#29402C;
		text-decoration:none;
		font-size:36px;
		border:solid 5px #C82C30;
		margin-top:-25px;
		margin-bottom:70px;
		padding-right:84px;
		padding-left:84px;
		font-family: Arial,'Bernard MT',  sans-serif;
	}

	#submitButton
	{
		width:260px;
		margin-bottom:75px;
		margin-left:600px;
	}

	#contactCopyHead {
		font-family: 'Bernard MT', Arial, sans-serif;
		font-size:40px;
		width:60%;
		line-height:50px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
		margin-top:70px;
	}

	#contactCopySection p{
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:30px;
		width:80%;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}





	/*submit page*/
	#submitContainer
	{
		width:1200px;
		margin:0 auto;
		background-color:#317840;
		height:980px;
	}

	#submitContainer h1
	{
		color: white;
		text-align:center;
		font-size:80px;
		animation: 4s ease-in 1s infinite reverse both running slidein;
	}

	@keyframes slidein {
  	from {
    margin-top: 100px;
  }

  75%{
  	font-size:120px;
  }

  to {
    margin-top: 100px;
  }
}

	#goBack
	{
		padding-top:300px;
	}

	#backButton
	{
		font-size:36px;
		font-family: 'Bernard MT',Arial,  sans-serif;
		margin-left:540px;
		margin-top:50px;
	}

	#bButton
	{
		border:solid 5px #29402C;
		background-color:white;
		text-decoration:none;
		padding:10px;
		color:#29402C;
	}

	/*products page*/

	#sixPack
	{
		margin-top:50px;
		display:flex;
		flex-direction: row;
		margin-bottom:50px;
	}


	.sixP
	{
		margin-top:150px;
		margin-left:15px;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:25px;
		line-height:33px;
	}

	#singlePack
	{
		margin-bottom:50px;
		display:flex;
		flex-direction: row;
	}

	.singleP
	{
		margin-top:200px;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:25px;
		line-height:33px;
	}

	#bar5
	{
		background-color: #136D37;
	}

	#singleInfo, #sixInfo{
		display:flex;
		flex-direction: column;
	}

	.productButton1
	{
		margin-top:40px;
		margin-left:30%;
	}

	.ProductButton1{
		color:#136D37;
		text-decoration:none;
		font-size:22px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
	}

	.ProductButton1:hover
	{
		font-size:30px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:30px;
		padding-right:30px;
		padding-top:15px;
		padding-bottom:15px;
		margin-left:-5%;
		transition:.5s ease-in-out;
	}

	.productButton2
	{
		margin-top:40px;
		margin-left:30%;
	}

	.ProductButton2{
		color:#136D37;
		text-decoration:none;
		font-size:22px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
	}

	.ProductButton2:hover
	{
		font-size:30px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:30px;
		padding-right:30px;
		padding-top:15px;
		padding-bottom:15px;
		margin-left:-5%;
		transition:.5s ease-in-out;
	}

	.RMText1
	{
		margin-top:-40px;
		margin-left:-100px;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:25px;
		line-height:33px;
	}

	.RMText2
	{
		margin-top:-40px;
		margin-left:-130px;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:25px;
		line-height:33px;
	}

	#twoFor1
	{
		font-family: 'Bernard MT', Arial, sans-serif;
		color:#29402C;
		font-size:40px;
		width:80%;
		text-align: center;
		line-height:80px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:50px;
		margin-top:50px;
	}

	.ProductButton3
	{
		color:#136D37;
		text-decoration:none;
		font-size:30px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
	}

	.ProductButton3:hover
	{
		font-size:40px;
		border:solid 5px #293F2B;
		border-radius: 10px;
		padding-left:25px;
		padding-right:25px;
		padding-top:15px;
		padding-bottom:15px;
		transition:.5s ease-in-out;
	}

	.RMText3
	{
		color:#136D37;
		font-family: Arial,'Bernard MT',  sans-serif;
		font-size:25px;
		line-height:33px;
	}

	#sixImg{
		display:unset;
	}

	#sixImgM{
		display:none;
	}

	#singleImg{
		display:unset;
	}

	#singleImgM{
		display:none;
	}
}